.jumbotron {
    background-color: darkgray;
    color: black;
    margin-top: 50px;

}

footer {
    padding: 10px 10px 0 10px;
    background-color: darkgray;
    margin-bottom: 0px;
    margin-top: 15px;

}

.card-art {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 40px;
}

.btn-Entrar {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}